/* lato-300 - latin */
@font-face {
    font-family: 'Lato_light';
    font-style: normal;
    font-weight: 300;
    src: url('../elements/fonts/lato-v23-latin-300.woff') format('woff');
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato_regular';
    font-style: normal;
    font-weight: 400;
    src: url('../elements/fonts/lato-v23-latin-regular.woff') format('woff');
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato_bold';
    font-style: normal;
    font-weight: 700;
    src: url('../elements/fonts/lato-v23-latin-700.woff') format('woff');
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato_black';
    font-style: normal;
    font-weight: 900;
    src: url('../elements/fonts/lato-v23-latin-900.woff') format('woff');
  }
    /* fa-solid-900 */
    @font-face {
      font-family: 'fa_solid';
      font-style: normal;
      font-weight: 900;
      src: url('../elements/fonts/fa-solid-900.woff') format('woff');
    }