    /* fa-solid-900 */
    @font-face {
      font-family: 'fa_solid';
      font-style: normal;
      font-weight: 900;
      src: url('../elements/fonts/fa-solid-900.woff') format('woff');
    }

    @font-face {
      font-family: 'Grotesk_black';
      src: url('../elements/fonts/NeueHaasDisplay-Black.woff') format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_bold';
      src: url('../elements/fonts/NeueHaasDisplay-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_light';
      src: url('../elements/fonts/NeueHaasDisplay-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_medium';
      src: url('../elements/fonts/NeueHaasDisplay-Mediu.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_regular';
      src: url('../elements/fonts/NeueHaasDisplay-Roman.woff') format('woff');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_thin';
      src: url('../elements/fonts/NeueHaasDisplay-Thin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Grotesk_xthin';
      src: url('../elements/fonts/NeueHaasDisplay-XThin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Grotesk_xxthin';
      src: url('../elements/fonts/NeueHaasDisplay-XXThin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
  }