header{
    background-image: linear-gradient(to right bottom, #4801ff, #480deb, #4714d6, #4618c2, #441baf);
    height: 100vh;
    width: 100%;
    position: relative;
}
#menu-top{
    text-align: right;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu-top li{
    list-style: none;
    margin: 30px;
}
.menu-top li a{
    text-decoration: none;
    color: var(--color-fonce);
    font-family: 'Grotesk_black';
    text-transform: uppercase;
    font-size: 8rem;
    position: relative;
    padding: 50px;
    width: fit-content;
    transition: all .3s;
}
.menu-top li a:hover{
    color: var(--color-clair);
    transition: all .3s;
}
#sous-menu{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.logo{
    transition: all.2s;
    background-image: url(/elements/medias/logo_blanc.svg);
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    width: 150px;
    background-size: contain;
}
.logo:hover{
    transition: all.2s;
    background-image: url(/elements/medias/logo_blanc_contour.svg);
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    width: 150px;
    background-size: contain;
}
#logo span{display: none;}

transform: rotateY(-45deg) translateZ(0) scale(1);
transform-origin: right center;
transform-style: preserve-3d;
will-change: transform;